* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNovaThin.otf") format("opentype");
}

@font-face {
    font-family: ProximaNovaBold;
    font-weight: bold;
    src: url("../fonts/ProximaNovaBold.otf") format("opentype");
}

@font-face {
    font-family: ProximaNovaXbold;
    font-weight:  bold;
    src: url("../fonts/ProximaNovaXbold.otf") format("opentype");
}

body {
  background: #fff;
  color: #666666;
  font-family: "ProximaNova", sans-serif !important;
}

section {
    width: 100%;
    height: 100vh;
    position: relative;
}

h2 {
    margin-bottom: 1em;
    font-weight: 100;
}

a.cta-btn {
    color: #000;
    margin-top: 4em;
    padding: 1em 5em;
    font-size: large;
}

a.cta-btn.white-btn {
    color: #fff;
    border-color: #fff !important;
    background: transparent !important;
    font-size: large;
}

#header {
    padding: 16px 0;
    height: 96px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;

    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#header.scrolled {
    background: rgba(4,47,66, 0.9);
    transition: all 0.5s;
}

.header-logo {
    display: block;
    position: relative;
    height: 64px;
    padding: 10px 0;

    margin-right: auto;
    margin-left: 100px;
    opacity: 0;
    animation: slide-right ease 0.4s forwards;
    animation-delay: 2s;
}

.header-logo img {
    height: 100%;
}

#header hr {
    border: solid 1px white;
    display: inline-block;
    margin: 0 70px;
    flex-grow: 1;
    animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
    animation-delay: 2.5s;
    transform-origin: left;
    transform: scaleX(0);
}


#nav-menu-container {
    margin-right: 100px;
    opacity: 0;
    animation: slide-right ease 1s forwards;
    animation-delay: 2.8s;
    font-family: "ProximaNovaBold", sans-serif;
    letter-spacing: 1px;
}

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
    padding: 0 20px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    outline: none;
}

.nav-menu li a.first {
    padding-left: 0;
}

.nav-menu li a.last {
    padding-right: 0;
}

.maillink,.maillink:hover {
    color: #fff;
    text-decoration: none;
}

#hero, #hero-mobile {
    position: relative;
    overflow: hidden;
}

#hero::before, #hero-mobile::before {
    background: url('../images/1920x1080px_456087316.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    content: '';
    animation: simple-scale 10s linear forwards;
    animation-timing-function: linear;
}

#hero:after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #D83F0D;
    z-index: 200;
    animation: slide-left-opening 2s ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.main-logo {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%,0);
    overflow-x: hidden;
    width: 81px;
    height: 100px;
    z-index: 300;
    animation: expand-logo 1.5s cubic-bezier(.75,0,.25,1);
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
}


.main-logo img {
    height: 100%;
    /* animation: shrink-image 1.5s cubic-bezier(.75,0,.25,1);
    animation-delay: 1.7s;
    animation-fill-mode: forwards; */
}

.tagline {
    position: absolute;
    top: 62%;
    color: white;
    font-size: 3.4em;
    left: 100px;
    opacity: 0;
    animation: slide-left-tagline 1.5s cubic-bezier(.75,0,.25,1);
    animation-delay: 2.0s;
    animation-fill-mode: forwards;
    line-height: 1.1em;
}

.meaning {

    position: absolute;
    bottom: 12%;
    color: white;
    font-size: 1.5em;
    width: 166px;
    text-align: right;
    right: 100px;
    opacity: 0;
    animation: slide-left 4s cubic-bezier(.75,0,.25,1);
    animation-fill-mode: forwards;
    line-height: 1.2em;
}

.email {
    position: absolute;
    bottom: 5%;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 100px;
    justify-content: flex-end;
    font-family: "ProximaNovaBold", sans-serif;
    letter-spacing: 1px;
}

.email hr {
    border: solid 1px white;
    min-width: 300px;
    display: inline-block;
    margin-right: 70px;
    width: 40%;
    animation: grow-right cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
    animation-delay: 2.5s;
    transform-origin: right;
    transform: scaleX(0);
}

.email span {
    text-transform: uppercase;
    color: white;
    opacity: 0;
    animation: slide-right 4s cubic-bezier(.75,0,.25,1);
    animation-fill-mode: forwards;
}

#about-us {
    display: block;
    position: relative;
    overflow: hidden;
}

#about-us .white-bg {
    background: #fff;
    height: 100%;
    padding: 0 10em 0 5em;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.vertical-center h2 {
    color: #D83F0D;
    font-size: 4rem;
}

#about-us p {
    font-size: 1.2em;
}

.cta-btn, input, textarea {
    display: inline-block;
    padding: 1em 3em;
    text-transform: uppercase;
    border: 2px solid #D83F0D;
    font-family: "ProximaNovaBold", sans-serif;
    letter-spacing: 1px;
    background: #fff;
}

input, textarea {
    padding: 1em;
    width: 100%;
    margin: .7em 0 !important;
}

#why-kukua {
    height: 100vh;
    font-size: 1.2em;
    position: relative;
    overflow: hidden;
    background: url('../images/WHY_KUKUA_MAP.png') no-repeat center center;
    background-size: cover;
}

#why-kukua h2 {
    color: #D83F0D;
    font-size: 4rem;
    margin-bottom: 1em;
}

#why-kukua .row {
    margin-bottom: 1em;
}

#what-we-do {
    height: 100vh;
    font-size: 1.2em;
    position: relative;
    overflow: hidden;
    background: url(../images/TERRAIN_MAP_WHAT_WE_DO.png) no-repeat bottom;
    background-position-x: 200%;
    background-size: 75%
}

#what-we-do .card {
    position: relative;
}

#what-we-do h2{
    margin-bottom: 1em;
}

#what-we-do .gray-bg {
    background: #e5eaed;
    max-height: 285px;
}

#what-we-do .gray-bg img {
    vertical-align: middle;
    border-style: none;
    height: fit-content;
}

#what-we-do .parallax-button {
    position: absolute;
    height: 150px;
    width: 100%;
}

#what-we-do .back-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#what-we-do .card-body {
    background: #fff;
    margin-top: 150px;
    font-family: "ProximaNovaBold", sans-serif;
}

#what-we-do .card-body a.plus-icon {
    display: block;
    width: 75%;
    height: auto;
    margin: 0 auto;
}

#what-we-do .card-body a img {
    margin: 0;
    height: auto;
}

#what-we-do .card-text {
    display: none;
}

h4.header {
    font-family: "ProximaNovaBold", sans-serif;
}

#who-work-with {
    background: url('../images/shutterstock_127527467.jpg') no-repeat center;
    text-align: center;
    color: #fff;
    font-size: 2.5em;
}

#who-work-with h2 {
    color: #fff;
}

#contact-us {
    width: 100%;
    height: 100%;
    background: #fff;
    display: inline-block;
    color: #d84b25;
    position: relative;
    overflow: hidden;
}

#contact-us .container-fluid {
    height: 100vh;
    background: #fff;
}

#contact-us .row {
    height: 100vh;
}

#contact-us .parallax-hack{
    padding: 0 6em;
    background: #fff;
}

#contact-us p {
    color: #000;
    font-size: 1.3em;
}

#contact-us input, textarea {
    border: 1px solid #d84b25;
    text-transform: initial;
    font-family: "ProximaNova", sans-serif;
}

#contact-us .cta-btn {
    border: 1px solid #d84b25;
    margin: .7em 0 !important;
    padding: 1em 6em;
}

#contact-us textarea {
    height: 10em;
}

#contact-us .container {
    z-index: 2;
}

#contact-us .copyrights {
    font-size: 1em;
    margin-top: 2em;
}

#contact-us .copyrights a{
    font-weight: bold;
    color: #000;
}

@keyframes simple-scale {
    to {
        transform: scale(1.3);
    }
}

@keyframes slide-left-opening {
    from {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

@keyframes expand-logo {
    from {

    }
    to {
        width: 650px;
        left: 100px;
        transform: translate(0,0);
    }
}

@keyframes slide-left-tagline {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes grow-right {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 989px) {
    #header hr {
        display: none;
    }

    .meaning {
        width: auto;
    }

    .nav-menu {
        text-align: right;
    }

    .nav-menu li {
        position: relative;
        white-space: nowrap;
        float: unset;
        display: inline-block;
    }

    .nav-menu li a.first {
        padding-left: 20px;
    }

    .nav-menu li a.last {
        padding-right: 20px;
    }

    #hero:after {
        content: "";
        top: 0;
        left: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: transparent;
        z-index: 200;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        animation: slide-left-opening 2s ease-in;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
}

@media only screen and (max-device-width: 767px) {

    a.cta-btn, a.cta-btn.white-btn {
        font-size: medium;
    }

    a.cta-btn.white-btn {
        padding: 1em 5em;
    }

    button:focus {
        outline: none;
    }

    section {
        height: auto;
        min-height: 100vh;
    }

    nav.navbar {
        top: 0;
        background: transparent;
        z-index: 999;
        color: #fff;
        width: 100vw;
    }

    nav.navbar.navbar-light {
        color: #042F42;
    }

    nav.navbar-dark.dark-bg {
        background: rgba(4,46,66,.8);
    }

    nav.navbar-light.dark-bg {
        background: rgba(255,255,255,.8);
    }

    .navbar-light .navbar-nav .nav-link {
        color: #042e42;
    }

    .navbar-dark .oi-menu {
        color: #fff;
        font-size: 1.2em;
    }

    .navbar-light .oi-menu {
        color: #042e42;
        font-size: 1.2em;
    }

    .navbar-dark .navbar-toggler, .navbar-light .navbar-toggler {
        border-color: transparent !important;
        border: none;
        padding-left: 0;
    }

    .navbar-nav {
        text-transform: uppercase;
        color: white;
        font-family: "ProximaNovaBold", sans-serif;
        letter-spacing: 1px;
    }

    .main-logo {
        position: absolute;
        top: 25vh;
        left: -10% !important;
        right: 0;
        text-align: center;
        transform: translate(-50%,0);
        overflow-x: hidden;
        width: 45px;
        height: 45px;
        z-index: 300;
        animation: expand-logo 1.5s cubic-bezier(.75,0,.25,1);
        animation-delay: 1.7s;
        animation-fill-mode: forwards;
    }

    .tagline {
        position: absolute;
        top: 45vh;
        color: white;
        font-size: 2.4em;
        left: 10%;
        opacity: 0;
        animation: slide-left-tagline 1.5s cubic-bezier(.75,0,.25,1);
        animation-delay: 2.0s;
        animation-fill-mode: forwards;
        line-height: 1.1em;
        text-align: center;
        width: 80%;
    }

    .meaning {
        position: absolute;
        bottom: 10%;
        color: white;
        font-size: 1.4em;
        width: 166px;
        text-align: right;
        right: 10%;
        opacity: 0;
        animation: slide-left 4s cubic-bezier(.75, 0, .25, 1);
        animation-fill-mode: forwards;
        line-height: 1.2em;
    }

    .email {
        position: absolute;
        bottom: 5%;
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0 10%;
        justify-content: flex-end;
        font-family: "ProximaNovaBold", sans-serif;
        letter-spacing: 1px;
    }

    .email hr {
        border: solid 1px white;
        min-width: 300px;
        display: none;
        margin-right: 30px;
        width: 40%;
        animation: grow-right cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
        animation-delay: 2.5s;
        transform-origin: right;
        transform: scaleX(0);
    }

    .vertical-center {
        position: relative;
        top: unset;
        transform: none;
        padding-top: 3em;
        padding-bottom: 3em;
    }

    #about-us .white-bg {
        height: auto;
        background: #fff;
        height: auto;
        padding: 3em 2em;
        text-align: center;
    }

    #what-we-do {
        height: auto;
        background: none;
    }

    #why-kukua {
        height: auto;
    }

    #why-kukua h2, #what-we-do h2, #contact-us h2 {
        text-align: center;
    }

    #why-kukua .col-12 {
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
    }

    #who-work-with {
        font-size: 2em;
    }

    #who-work-with .cta-btn {
        margin-top: 4em;
    }

    #contact-us {
        text-align: center;
        height: auto;
    }

    #contact-us .container-fluid {
        height: auto;
        background: #fff;
    }

    #contact-us .row {
        height: auto;
    }

    #contact-us .parallax-hack {
        height: auto;
        padding: 0 1em;
        background: #fff;
        min-height: 100vh;
    }

    .photos {
        min-height: 50vh;
    }

    .bg-crossroads {
        background: url('../images/960x1080px_455090554.jpg') no-repeat top left;
        background-size: cover;
        height: 50vh;
    }

    .bg-desert {
        background: url('../images/desert_2.jpg') no-repeat top left;
        background-size: cover;
        height: 50vh;
    }

    .moving-bg {
        display: none;
    }

    @keyframes expand-logo {
        from {

        }
        to {
            width: auto;
            left: 0;
            transform: translate(0,0);
        }
    }
}

.animatemarker form,.animatemarker p, .animatemarker div.row, .animatemarker div.card, .animatemarker h2, .animatemarker h3, .animatemarker img, .animatemarker a, .animatemarker p img {
    transform: translateY(20px);
    opacity: 0;
    transition: all 800ms;
}

form.push, p.push, h2.push, h3.push, a.push, img.push, p img.push, div.row.push, div.card.push{
    transform: translateY(0px);
    opacity: 1;
}

@media (max-width: 540px) {
    .tingle-modal__closeIcon {
        font-size: 3.5rem !important;
        vertical-align: unset !important;
    }

    .tingle-modal__close {
        text-align: right;
    }

    .tingle-modal__closeLabel {
        display: none;
    }
}