* {
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.opening-slide {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #D76100;
    z-index: 200;
    animation: slide-left 2s ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    display: hidden;
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 127px;
    animation: expand-logo 1s ease-in;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
}

.logo img {
    height: 150px;
}

.hero {
    background: url('../sandbg.png') no-repeat;
    background-size: 120%;
    background-position: center;
    height: 100%;
}

.meaning {
    position: absolute;
    bottom: 10%;
}

.dash {
    border-top: 1px solid white;
}

.about-us {
    margin-top: 10px;
}

@keyframes slide-left {
    from {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

    @keyframes dissapear {
    from {

    }

    to {
        opacity: 0;
        display: none;
    }
}

@keyframes expand-logo {
    from {

    }
    to {
        width: 690px;
    }
}
